<ion-header>
  <ion-toolbar color="primary">
  	 <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row align-items-center style="height: 100%;">

        <ion-col>
            <div style="text-align: center;">
                <img src="../../assets/logo_fix.png" width="200px">
                <!-- <h5><strong>Resto UAD</strong></h5> -->
              </div>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="email"></ion-input>
</ion-item>
<div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" color="primary" (click)="resetPassword(email)">Konfirmasi</ion-button>
  </div>
  
  </ion-col>
  
  </ion-row>
</ion-content>
