ion-content {

    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
}


ion-chip {
    --background: #9dc912;
    --color: #fff;
}

.avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 30px;
    margin-left: 15px;
    img {
        height: 85px;
        width: 85px;
        border-radius: 100px;
        position: absolute;
        border: 5px solid #fc7d07;
        background-color: #000000;
    }
  }

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;

    .user-meta {

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}

.ion-padding{
    margin-top: 20px;
}
/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
  
  #data {
    display: none;
  }
  
  #skeleton {
    display: block;
  }