<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Profil
		</ion-title>
		<ion-button style="padding-right: 10px; size: 20%;" class="ion-button" size="large" slot="end" fill="clear"
			[routerLink]="['/tentang-resto']">
			<ion-icon color="light" name="information-circle-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="data" fullscreen="true">

	<ion-item lines="none" mode="ios">
		<div class="avatar">
			<ion-avatar slot="start">
				<img src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}"
					alt="">
			</ion-avatar>
		</div>
		<ion-label style="margin-top: 10px;margin-left: 5px;">
			<h2> <b>{{userData.name}}</b></h2>
			<p style=" color: rgb(43, 42, 42);">
				{{userData.no_hp}}</p>
		</ion-label>
		<ion-button slot="end" fill="clear" size="small"
			style="margin-top: -10px;margin-right: 10px;text-transform: lowercase" (click)="ubahProfile(userData)">
			<ion-icon name="create"></ion-icon> Ubah
		</ion-button>
	</ion-item>

	<div class="card-body">
		<div class="user-meta ion-text-center">

			<ion-item lines="none">
				<ion-icon slot="start" color="secondary" name="contact"></ion-icon>
				<ion-label position="floating">Username</ion-label>
				<ion-input [(ngModel)]="userData.username" readonly></ion-input>
			</ion-item>

			<ion-item lines="none">
				<ion-icon slot="start" color="secondary" name="mail"></ion-icon>
				<ion-label position="floating">Email</ion-label>
				<ion-input [(ngModel)]="userData.email" disabled></ion-input>

				<ion-button item-right fill="clear" style="color: black; size: 20px; position: relative;" slot="end"
					(click)="optionEmail()">
					<ion-icon name="md-create"></ion-icon>
				</ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-icon slot="start" name="pin" color="secondary"></ion-icon>
				<ion-label position="floating">Alamat
				</ion-label>
				<ion-input [(ngModel)]="userData.alamat" value="alamat belum diisi..." readonly></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-icon slot="start" color="secondary" name="transgender"></ion-icon>
				<ion-label>Jenis kelamin</ion-label>
				<ion-select interface="popover" [(ngModel)]="userData.gender" disabled>
					<ion-select-option value="laki-laki">Laki-laki</ion-select-option>
					<ion-select-option value="perempuan">Perempuan</ion-select-option>
				</ion-select>
			</ion-item>

			<div class="ion-padding">
				<ion-button shape="round" type="submit" class="ion-no-margin" color="primary" (click)="keluar()"
					style="margin-bottom: -20px;">
					Keluar</ion-button>
			</div>
		</div>
	</div>
</ion-content>

<ion-content *ngIf="!data" fullscreen="true" slot="fixed">
	<div style="text-align: center;margin-left: 30px;margin-top: 20px;">
		<ion-skeleton-text animated style="width: 60%"
			style="height: 80px; width: 130px;border-radius: 150pxpx;text-align: center;"></ion-skeleton-text>
	</div>
	<div class="card-body">
		<div class="user-meta ion-text-center">
			<ion-item>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
			</ion-item>

			<ion-item>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
			</ion-item>

			<ion-item>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
			</ion-item>

			<ion-item>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
			</ion-item>

			<ion-item>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
			</ion-item>

			<div class="ion-padding">
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
			</div>
		</div>
	</div>
</ion-content>