<ion-header no-border>
  <ion-button fill="clear" routerLink="/intro" slot="start" color="light">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content fullscreen="true">
  <!-- <div style="text-align: left;">
    <img src="../../assets/logo yami.png" style="width: 50px; height: 50px;">
  </div> -->
  <div class="card">
    <div class="header">
      <div class="avatar">

      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="user-meta ion-text-center">
      <div class="tombol">
        <h4>Masuk akun</h4>
        <p style="margin-top: -10px;">Belum punya akun ? <ion-button fill="clear"
            style="margin-top: -3px;margin-left: -3px;" routerLink="/register">
            <b>Daftar</b>
          </ion-button>
        </p>
      </div>
      <ion-item
        style="margin-bottom: 16px; margin-right: 15px; margin-left: 15px;border: solid; border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input placeholder="Masukkan email" [(ngModel)]="data.email" (keydown.enter)="enterLogin($event)"
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
          #dataEmail="ngModel" type="email"></ion-input>
      </ion-item>
      <p style="color:red; font-size: small; padding-left: 15px;" *ngIf="dataEmail.errors && dataEmail.errors?.pattern">
        Email tidak valid!</p>

      <ion-item
        style="border: solid; margin-right: 15px; margin-left: 15px;border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-input #toggleInput [(ngModel)]="data.password" (keydown.enter)="enterLogin($event)"
          placeholder="Masukkan sandi" #dataPassword="ngModel" type="{{type}}"></ion-input>

        <ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" style="margin-top: 15px;"
          (click)="showPassword()">
          <ion-icon name="eye" style="font-size:25px;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showPass" fill="clear" type="button" slot="end" style="margin-top: 15px;"
          (click)="showPassword()">
          <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
        </ion-button>
      </ion-item>
      <br>
      <div style="text-align: left;margin-left: 15px;">
        <ion-button color="primary" size="small" routerLink="/forgot" fill="clear">Lupa sandi ?
        </ion-button>
      </div>
      <div class="ion-padding">
        <ion-button expand="block" shape="round" type="submit" class="ion-no-margin" color="primary" (click)="login()"
          style="border-radius: 20px;">
          {{loading ? 'Mohon Tunggu..':'Masuk'}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>