ion-content {
  --background: url(/assets/makan-2.jpg) no-repeat top center/cover fixed;
  position: relative;
  height: 100%;
  width: 100%;
}
.card {
  margin: 0 auto;

  .header {
      height: 170px;

      .avatar {
          width: 160px;
          height: 160px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              height: 165px;
              width: 165px;
              border-radius: 100px;
              position: absolute;
              bottom: calc(-1*(80px + 4px)); // -42px;
              border: 8px solid #9Dc912;
              background-color: #000000;
          }
      }
  }
}

.tombol{
  text-align: left;
  margin-left: 15px;
}
.card-body {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #ffffff;
  padding-bottom: 270px;
  overflow: hidden;

  .user-meta {
      padding-top: 30px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #303940;
      }
  }
}

#profile-bg {
    // position: fixed;
    // left: 0;
    //top: 44px;
    width: 80%;
    height: 100px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 40px;
    text-align: center;
  }
  #content {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.4);
    padding-top: 10px;
    border-radius: 15px;
    // border-top-right-radius: 15px;
    // border-top-left-radius: 15px;
  }
#wow{
    background-color: grey;
}
