<ion-header>
	<ion-toolbar color="primary">
		<ion-button (click)="batal()" slot="start" fill="clear">
			<ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
		</ion-button>
		<ion-title>Detail Pesanan Ditolak</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="border-radius: 10px;">
		<ion-card-content>
			<ion-card-header>
				<p style="font-size: 18px; text-align: center;">Pesanan</p>
			</ion-card-header>
			<ion-grid text-center>
				<ion-row>
					<ion-col style="font-size: 15px;"><b>Nama</b></ion-col>
					<ion-col style="font-size: 15px;"><b>Jumlah</b></ion-col>
					<ion-col style="font-size: 15px;"><b>Harga</b></ion-col>
				</ion-row>
				<ion-row *ngFor="let item of items">
					<ion-col style="font-size: 12px;">{{item.nama}}</ion-col>
					<ion-col style="font-size: 12px;">{{item.jumlah}}</ion-col>
					<ion-col style="font-size: 12px;">{{item.harga}}</ion-col>
				</ion-row>
			</ion-grid>
			<ion-item>
				<ion-label>
					<p>
						<ion-icon name="locate"></ion-icon> Lokasi Antar
					</p>
				</ion-label>
				<ion-note slot="end">
					{{infoOrder['lokasi_antar']}}
				</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>
					<p>
						<ion-icon name="cash"></ion-icon> Ongkir
					</p>
				</ion-label>
				<ion-note slot="end">
					{{infoOrder['ongkir']}}
				</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>
					<p>
						<ion-icon name="cash"></ion-icon> Total Pembayaran
					</p>
				</ion-label>
				<ion-note slot="end">
					Rp.{{infoOrder['totalHarga']}}
				</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>
					<p>
						<ion-icon name="cash"></ion-icon> Metode Pembayaran
					</p>
				</ion-label>
				<ion-note slot="end">
					{{infoOrder['metode']}}
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

  <ion-card>
    <ion-item color="danger">
      <ion-label>Status pesanan</ion-label>
      <ion-text slot="end">
        {{orderData['status'] == undefined ? 'kosong':orderData['status']}}
      </ion-text>
    </ion-item>
  </ion-card>

  <ion-card style="height: 140px; border-radius: 10px;">
    <ion-card-header>
      <p style="font-size: 18px; text-align: center;">Alasan</p>
    </ion-card-header>
		<ion-card-content style="text-align: center;">
      <p>
        {{orderData['alasan']}}
      </p>
		</ion-card-content>
  </ion-card>
  
	<ion-card style="height: 140px; border-radius: 10px;">
		<ion-card-content>
			<ion-grid>
				<ion-row center>
					<ion-col size="3">
					<ion-avatar>
						<img
						src="{{images[warungData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[warungData.avatar]}}"
						width="20px" height="20px">
					</ion-avatar>
			
					</ion-col>
					<ion-col size="5">
					<ion-card-title style="font-size: medium;">Warung: {{warungData.nama }}</ion-card-title>
					<ion-card-subtitle>Alamat: {{warungData.alamat}}</ion-card-subtitle>
					<br>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
<ion-footer>
  <ion-button *ngIf="orderData.status == 'ditolak'" color="danger" expand="block"
    style="color: white;" (click)="hapus(orderData.id)">Hapus</ion-button>
</ion-footer>