<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Daftar Diri</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
	<ion-row align-items-center style="height: 100%;">
		<ion-col>
			<div style="text-align: center; margin-top: -50px;">
				<img src="../../assets/logo_fix.png" width="100%">
			</div>
			<ion-card style="border-radius: 15px; margin-top: -50px;">
				<ion-list style="padding: 10px;">
					<ion-item>
						<ion-label position="floating">Nama Lengkap</ion-label>
						<ion-input required [(ngModel)]="data.nama"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label position="floating">Email</ion-label>
						<ion-input required [(ngModel)]="data.email"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label position="floating">Nomer HP</ion-label>
						<ion-input required [(ngModel)]="data.no_hp"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label position="floating">Password</ion-label>
						<ion-input required #toggleInput [(ngModel)]="data.password" min="6" type="{{type}}"></ion-input>

						<ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" style="margin-top: 25px;"
							(click)="showPassword()">
							<ion-icon name="eye" style="font-size:25px;"></ion-icon>
						</ion-button>
						<ion-button *ngIf="showPass" fill="clear" type="button" slot="end" style="margin-top: 25px;"
							(click)="showPassword()">
							<ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
						</ion-button>
						<p style="color: firebrick; font-size: 15px;" *ngIf="data.password?.length < 6">* Password minimal 6
							karakter</p>
					</ion-item>
				</ion-list>
			</ion-card>
			<ion-note style="margin-left: 15px;margin-top: 10px;">Dengan ini anda menyetujui :</ion-note>
			<p style="margin-left: 15px;margin-top: 2px; color: darkcyan;" (click)="detailSyarat()">Syarat & Ketentuan
				PesanAja App</p>
			<div class="ion-padding">
				<ion-button expand="block" type="submit" class="ion-no-margin" color="primary"
					[disabled]="data.nama == null || data.email == null || data.password == null || data.no_hp == null || data.password.length < 6"
					(click)="register(data.email,data.password,data.nama,data.no_hp)">{{loading ? 'Mohon Tunggu..':'Daftar'}}</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-content>