<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ubah profil
    </ion-title>
    <ion-button style="padding-right: 10px; size: 20%;" class="ion-button" slot="start" fill="clear" (click)="batal()">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img
          src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}"
          alt="">
        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: -25px;">
          <ion-fab-button style="margin-bottom: -200px;margin-right: -10px;" size="large" color="secondary"
            (click)="uploadAvatar()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <ion-item lines="none">
        <ion-icon slot="start" name="person" color="secondary"></ion-icon>
        <ion-label position="floating">Nama
        </ion-label>
        <ion-input [(ngModel)]="dataProfile.name"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" color="secondary" name="contact"></ion-icon>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="dataProfile.username"></ion-input>
      </ion-item>


      <ion-item lines="none">
        <ion-icon slot="start" color="secondary" name="call"></ion-icon>
        <ion-label position="floating">Nomor hp</ion-label>
        <ion-input [(ngModel)]="dataProfile.no_hp"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="pin" color="secondary"></ion-icon>
        <ion-label position="floating">Alamat
        </ion-label>
        <ion-input [(ngModel)]="dataProfile.alamat" placeholder="isikan alamat..."></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" color="secondary" name="transgender"></ion-icon>
        <ion-label>Jenis kelamin</ion-label>
        <ion-select interface="popover" [(ngModel)]="dataProfile.gender">
          <ion-select-option value="laki-laki">Laki-laki</ion-select-option>
          <ion-select-option value="perempuan">Perempuan</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" type="submit" class="ion-no-margin" color="primary" (click)="updateData()">
          {{loading ? 'Tunggu..':'Perbarui'}}</ion-button>

      </div>
    </div>
  </div>

</ion-content>