.card {
    margin: 0 auto;
    margin-top: -50px;
    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                height: 165px;
                width: 165px;
                border-radius: 100px;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 8px solid #FF9B06;
                background-color: #000000;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;

    .user-meta {
    padding-top: 30px;
        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}

.ion-padding{
    margin-top: 20px;
}
