.tombol{
    text-align: center;
}

.corner-ribbon {
    width: 200px;
    position: absolute;
    font-size: 10px;
    top: 23px;
    left: -48px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}