<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color: white;">Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="dataTopup">
    <ion-card *ngFor="let n of dataTopup" style="border-radius: 15px;">
      <ion-item no-padding no-margin>
        <img ionImgViewer (click)="openViewer(n.gambar_bukti[0])" src="{{n.gambar_bukti[0]}}"
          style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 1px;" />
        <ion-label style="margin-bottom: 10px;">
          <b>Nama: {{n.userData.name}}</b><br>
          <ion-note>Nomer HP: {{n.userData.no_hp}}</ion-note><br>
          <ion-note>Jumlah TopUp: Rp{{n.dataTopup.jumlah_topup | number:'1.0-0'}}</ion-note><br>
        </ion-label>
        <hr>
      </ion-item>
      <ion-item>
        <ion-label style="margin-bottom: 10px;">
          <b>A/n: {{n.dataTopup.dataRek.nama}}</b><br>
          <ion-note>Nama Bank: {{n.dataTopup.dataRek.nama_bank}}</ion-note><br>
          <ion-note>Nomer Rek: {{n.dataTopup.dataRek.no_rek}}</ion-note><br>
          <ion-note style="color:green;">Waktu transaksi: {{n.waktu_konfirmasi.toDate() | date:'H:mm - dd MMM yyyy'}}</ion-note><br>
        </ion-label>
      </ion-item>
      <div class="corner-ribbon" *ngIf="n.selesai == false" style="background: red;">Sedang Diproses</div>
      <div class="corner-ribbon" *ngIf="n.selesai == true" style="background: greenyellow; color: black;">TopUp Berhasil</div>
      <div class="tombol">
        <ion-button [disabled]="n.selesai == true" color="success" size="small" shape="round" fill="outline" (click)="konfirmasiViaWa(n)">
          <ion-icon name="logo-whatsapp"></ion-icon> Kontak Admin
        </ion-button>

        <ion-button fill="clear" (click)="hapus(n.id)">
          <ion-icon name="trash" color="danger" size="large"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>
  
  <div *ngIf="dataTopup.length == 0">
    <ion-card style="border-radius: 15px;">
      <ion-item style="text-align: center;" no-padding no-margin>
        <ion-label>
          <b>Belum ada riwayat topup</b>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="!dataTopup" class="ion-padding custom-skeleton">
    <ion-card style="border-radius: 15px;">
      <ion-card-header style="text-align: center; background-color: rgb(56, 153, 233); color: white;">
        <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 300px;border-radius: 15px;">
        </ion-skeleton-text>
      </ion-card-header>
      <ion-item no-padding no-margin>
        <ion-label style="margin-bottom: 10px;">
          <b>
            <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 300px;border-radius: 15px;">
            </ion-skeleton-text>
          </b><br>
          <ion-note>
            <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 300px;border-radius: 15px;">
            </ion-skeleton-text>
          </ion-note><br>
          <ion-note>
            <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 300px;border-radius: 15px;">
            </ion-skeleton-text>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>