<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="batal()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title>Konfirmasi Pesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none" mode="ios">
    <div class="avatar">
      <ion-avatar slot="start">
        <img
          src="{{imagesUser[userData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': imagesUser[userData.avatar]}}"
          alt="">
      </ion-avatar>
    </div>
    <ion-label style="margin-top: -15px;">
      <h2> <b>{{userData.name}}</b></h2>
      <p style=" color: rgb(43, 42, 42);">Saldo :
        Rp{{userData.saldo | number: '1.0-0'}}</p>
    </ion-label>
  </ion-item>



  <div id="card">
    <ion-card color="danger" *ngIf="userData.saldo<infoOrder.totalHarga">
      <ion-card-content>
        <p style="font-size: 12px; text-align: center;">Saldo Tidak Mencukupi!<br>Silahkan melakukan TopUp dimenu topup
          atau melalui counter PesanAja
          terdekat</p>
      </ion-card-content>
    </ion-card>
  </div>

  <b style="margin-left: 15px; margin-top: 5px; color:#6d7278;">Daftar pesanan</b>
  <ion-card *ngFor="let item of items" style="border-radius: 15px; height:100px;">
    <ion-list lines="none" class="ion-no-padding">
      <ion-item class="ion-no-margin ion-no-padding">
        <img ionImgViewer
          src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}"
          style="width: 80px; height: 80px;border-radius: 10px; margin-left: 10px;margin-right: 10px; margin-top: 10px;" />
        <ion-label>
          <b>{{item.nama}}</b>
          <p style="font-size: 12px;">Rp. {{item.harga}}</p>
          <p>
            <ion-note slot="start" color="{{item.status==false ? 'danger':'success'}}">
              {{item.status==true ? 'Stok: ' + item.stok:''}}</ion-note>
          </p>
        </ion-label>

        <div style="margin-top: 10px;margin-right: -15px;">
          <ion-button fill="clear" (click)="tambahItem(-1,item)">
            <ion-icon color="warning" slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
          <input [(ngModel)]="orderData[item.id].jumlah" (change)="hitungOrder()" type="number"
            style="width: 30px; border:1px solid #ccc; text-align: center;">
          <ion-button fill="clear" (click)="tambahItem(1,item)">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-item>
    <ion-label position="floating">Antar Kemana?</ion-label>
    <ion-input [(ngModel)]="infoOrder.lokasi_antar" [disabled]="lokasiFound==true" placeholder="isi alamat tujuan.....">
    </ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label>Pilih Metode Pembayaran :</ion-label>
    </ion-list-header>

    <ion-radio-group [(ngModel)]="infoOrder.metode">
      <ion-item>
        <ion-label>Tunai</ion-label>
        <ion-radio slot="start" value="tunai"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Non Tunai</ion-label>
        <ion-radio slot="start" value="virtual"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="lokasiFound" align="center">
    <ion-card style="background-color: lightgreen" class="result">
      <ion-card-header>
        <ion-card-content>
          <ion-label>Lokasi Ditemukan</ion-label>
          <ion-input style="font-style: italic;" [(ngModel)]="infoOrder.lokasi_antar" value="{{pilihLokasi.lokasi}}">
          </ion-input>
          <h3> Lokasi <strong><i>{{pilihLokasi.lokasi}}</i></strong> Ditemukan! </h3>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-card style=" border-radius: 10px;" *ngIf="infoOrder.lokasi_antar != null && infoOrder.metode != null">
    <ion-item>
      <ion-label>Jumlah item</ion-label>
      <ion-text slot="end">{{infoOrder['jumlahItem']}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Ongkir</ion-label>
      <ion-text slot="end">Rp{{infoOrder['ongkir'] | number:'1.0-0'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label><b style="color: rgb(15, 206, 15);">Total Harga</b></ion-label>
      <ion-text slot="end"><b style="color: rgb(15, 206, 15);">Rp{{infoOrder['totalHarga'] | number:'1.0-0'}}</b>
      </ion-text>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button *ngIf="infoOrder.metode == 'virtual'"
          [disabled]="loading || userData.saldo<infoOrder.totalHarga || infoOrder.lokasi_antar == null && lokasiFound != true"
          expand="block" (click)="pesan()">{{loading ? 'Pesan diproses': 'Pesan'}}</ion-button>
        <ion-button *ngIf="infoOrder.metode == 'tunai'"
          [disabled]="loading || infoOrder.lokasi_antar == null && lokasiFound != true" expand="block"
          (click)="pesan()">{{loading ? 'Pesan diproses': 'Pesan'}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>