<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Tentang PesanAja</ion-title>
        <ion-button style="padding-right: 10px; size: 20%;" class="ion-button" slot="start" fill="clear"
            [routerLink]="['/tabs/profil']">
            <ion-icon color="light" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button href="mailto:admin@pesanaja.is.uad.ac.id" slot="end" fill="clear" style="margin-right: 15px;">
            <ion-icon name="mail-open" slot="icon-only" color="light"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div align="center">
            <img src="assets/logo_fix.png" style="width: 200px; height: 200px;">
            <!-- <h5><strong>PesanAja</strong></h5> -->
        </div>
        <div style="margin: 10px; text-align: justify;">
            <ion-text>
                PesanAja merupakan sebuah aplikasi pemesanan makanan, minuman & keperluan kuliah di kampus Universitas
                Ahmad Dahlan.<br>
                Aplikasi ini masih dalam pengembangan, kritik dan saran silahkan kirimkan ke email kami dengan cara
                tekan ikon pesan di pojok kanan atas halaman ini.<br>
                Terimakasih, <br><i>Best Regards <br><br>Admin PesanAja.</i>
            </ion-text>
        </div>
    </ion-card>
    <div style="margin: 10px; text-align: center;">
        <b>Ingin Menyampaikan Aspirasi?<br>Silahkan Tulis Kolom di bawah ini :</b>
    </div>
    <ion-card>
        <ion-item *ngIf="isLogin == true">
            <ion-label position="floating" style="margin: 10px; margin-top: 5px;">Nama</ion-label>
            <ion-input [(ngModel)]="comment.nama" value="{{userData.name}}" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="isLogin == false">
            <ion-label position="floating" style="margin: 10px; margin-top: 5px;">Nama</ion-label>
            <ion-input [(ngModel)]="comment.nama" placeholder="Masukkan nama"></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="floating" style="margin: 10px; margin-top: 5px;">Kritik & Saran</ion-label>
            <ion-textarea [(ngModel)]="comment.kritik" placeholder="Silahkan Ketik disini......"></ion-textarea>
        </ion-item>
        <br>
        <ion-item>
            <ion-button shape="round" slot="end" type="submit" (click)="addComment()">{{loading ? 'Tunggu..':'KIRIM'}}
            </ion-button>
        </ion-item>
    </ion-card>
</ion-content>