<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" slot="start" [routerLink]="['/riwayat']">
      <img src="assets/back.svg" width="20px" height="20px" />
    </ion-button>
    <ion-title style="text-align: center; margin-left: -40px;">Chat</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div id="chatMessage">
    <div class="message" *ngFor="let message of messages">
      <div [class]="message.userName == user ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
        <div class="userName">{{ message.userName}}</div>
        <div class="msg">{{ message.message}}</div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input type="text" name="message" placeholder="Ketik Pesan....." [(ngModel)]="message"></ion-input>
    <ion-buttons slot="end" (click)="sendMessage()" fill="clear">
      <img src="assets/paper-plane.svg" style="width: 40px; height: 40px; margin-right: 5px;" />
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-input type="text" name="message" placeholder="Message" [(ngModel)]="message"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="sendMessage()">
        <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->