#chatMessage {
    .innerMessage{
      display: inline-block;
      padding: 5px 10px;
      background-color: #3090f7;
      margin: 5px;
      margin-left: 10px;
      color: white;
      border-radius: 3px;
    }
    .userName {
      font-weight: bold;
      font-size: 80%;
    }
    .message {
      font-size: 110%;
    }
    .message:after {
      content: '';
      display: block;
      clear: both;
    }
    .messageLeft {
      float: left;
    }
  
    .messageRight {
      float: right;
    }
  }