div.navbar{
  margin-top: -20px;
  }
#profile-bg {
    // position: fixed;
    left: 0;
    //top: 44px;
    width: 100%;
    height: 300px;
    margin-top: -60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    text-align: center;
  }

  
  .tombol{
    text-align: left;
    margin-left: 15px;
  }
  .card-body {
    margin-top: -100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #ffffff;
    padding-bottom: 100px;
  
    .user-meta {
    margin-top: -35px;
  
    }
    .header{
      height: 100px;
      position: relative;
      padding-top: 5px;
      border-top-left-radius: 40px;
      background-color: #ffffff;
    }
  }
  