<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button fill="clear" color="light" [routerLink]="['/tabs/home']"
      style="text-transform: lowercase;margin-left: -10px;">
      <ion-icon name="arrow-back"></ion-icon> Kembali
    </ion-button>
  </ion-fab>
  <div id="profile-bg">
    <img src="../../assets/makanan.png" style="background-size: cover;
    background-repeat: no-repeat;">
  </div>

  <div class="card-body">
    <div class="header">
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" animated no-border mode="ios"
        placeholder="Cari Menu" style=" color: #6d7278; margin-top: 10px;padding-left: 20px;padding-right: 20px;">
      </ion-searchbar>
    </div>
    <b style="margin-left: 15px; margin-top: -25px; color:#6d7278;">Pilihan menu
    </b>
    <div *ngIf="produk">
      <div *ngFor="let item of produk">
        <ion-card style="height: 100px; margin-left: 15px; border-radius: 15px;" [disabled]="item.stok < 1">
          <ion-list lines="none" class="ion-no-padding">
            <ion-item class="ion-no-margin ion-no-padding">
              <img ionImgViewer
                src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}"
                style="width: 80px; height: 80px;border-radius: 10px; margin: 5px; margin-top: -5px;" />
              <div class="corner-ribbon" *ngIf="item.stok < 1">Stok Habis</div>
              <ion-label style="margin-bottom: 10px;">
                <b>{{item.nama}}</b><br>
                <p (click)="detailMenu(item)">
                  <ion-note slot="start" color="{{item.status==false ? 'danger':'success'}}">
                    {{item.status==true ? 'Rp.' + item.harga:'stok habis'}} <br>
                    {{item.status==true ? 'Stok: ' + item.stok:''}}</ion-note>
                </p>
                <ion-button [disabled]="item.status==false || item.stok < 1" *ngIf="order[item.id] == undefined"
                  slot="end" color="primary" size="small" (click)="addOrder(item)"
                  style="margin-top: -15px; margin-left: 120px; margin-bottom: 10px;">
                  tambah
                </ion-button>
                <div slot="end" style="margin-top: -15px; margin-left: 120px; margin-bottom: 10px;"
                  *ngIf="order[item.id] != undefined">
                  <ion-button slot="start" fill="clear" (click)="tambahItem(-1,item)"
                    style="size: small; margin-left: -20px; margin-top: -3px;">
                    <ion-icon color="warning" slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                  <input [(ngModel)]="order[item.id].jumlah" (change)="hitungOrder()" type="number"
                    style="width: 30px; border:1px solid #ccc; margin-right: -6px; text-align: center;" no-border>
                  <ion-button slot="end" fill="clear" (click)="tambahItem(1,item)"
                    style="size: small; margin-right: -50px; margin-top: -3px;">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                  </ion-button>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<div *ngIf="isLogin == true">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true" (click)="detailPesanan()">
    <ion-item color="secondary">
      <p>{{infoOrder['jumlahItem']}} item | {{infoOrder['totalHarga']}}</p>
      <ion-icon name="cart" slot="end"></ion-icon>
    </ion-item>
    <p *ngIf="dataReturned">{{dataReturned}}</p>
  </ion-card>
</div>

<div *ngIf="isLogin == false">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true">
    <ion-item color="danger">
      <p>Silahkan <a [routerLink]="['/intro']">Masuk</a> dengan akun PesanAja.</p>
    </ion-item>
  </ion-card>
</div>