<ion-content class="auth-form">
  <div id="profile-bg">
    <p style="text-align: center;"><img src="assets/logo pesanAja.png"
        style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;text-align: center;"></p>
  </div>
  <div id="center">
    <p>Selamat datang di aplikasi pesanAja <br>
      Apa yang ingin anda lakukan ?</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="guest()" expand="block" color="primary">Coba dulu</ion-button>

        <span class="divider line one-line">atau</span>

        <ion-button [routerLink]="['/login']" expand="block" color="secondary">Masuk akun</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>