.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

div.header{
    height:50px;
    background-color: #ff9500;
    margin-bottom: 1%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 
 }

 #profile-bg {
    width:40%;
    height: 40%;
    margin-left: 100px;
  }

  #center{
      margin-top: -120px;
      margin-bottom: 100px;
      text-align: center;
    }