<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat-topup" *ngIf="isLogin == true">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pesanan">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Pesanan</ion-label>
      <ion-badge color="secondary" *ngIf="pesananDataDiproses != null"
        style="width: 18px; height: 13px; margin-top: -6px; margin-right: -30px; border-radius: 5px;color: indigo;font-weight: bold;">
        {{pesananDataDiproses}}
      </ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="profil" *ngIf="isLogin == true">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>