<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="kembali()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title *ngIf="runner=='0'">Mencari Runner</ion-title>
    <ion-title *ngIf="runner!='0'">Pesanan Sedang Diproses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; 
   border-top-right-radius: 30px; border-top-left-radius: 30px;">
    <ion-tab-bar>
      <h5>DATA PESANAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let item of dataOr">
          <ion-thumbnail slot="start">
            <img
              src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}">
          </ion-thumbnail>
          <ion-label>
            <b>{{item.nama}}<br>
              <ion-text color="black" style="font-size: 12px;"> Rp {{item.harga}} <br>
              </ion-text>
            </b>
          </ion-label>
          <ion-text>{{item.jumlah}} x</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Total Ongkir</ion-label>
          <ion-text slot="end">
            Rp. {{infoOrder.ongkir | number:'1.0-0'}}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Total Harga</ion-label>
          <ion-text slot="end">
            Rp. {{infoOrder.totalHarga | number:'1.0-0'}}
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-card>
        <ion-item color="primary">
          <ion-label>Metode Pembayaran</ion-label>
          <ion-text slot="end">
            {{infoOrder.metode}}
          </ion-text>
        </ion-item>
      </ion-card>
      <ion-button color="danger" *ngIf="runner=='0'" style="color: white;" (click)="batalPesanan()">
        Batalkan pesanan?
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="runner=='0'" style="border-radius: 10px; text-align: center;">
    <ion-col size="3">
      <ion-spinner name="lines"></ion-spinner>
    </ion-col>
    <ion-col size="6">
      <ion-card-title>Sedang Mencari Runner</ion-card-title>
    </ion-col>
    <p>Pesanan akan dibatalkan otomatis dalam {{ticks}} detik</p>
  </ion-card>
  <!-- jika runner berhasil di temukan -->
  <ion-card *ngIf="runner!='0'" style="height: 120px; border-radius: 10px;">
    <ion-grid>
      <ion-row center>
        <ion-col size="3">
          <ion-avatar>
            <img
              src="{{images[runnerData.avatar] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[runnerData.avatar]}}"
              width="20px" height="20px">
          </ion-avatar>

        </ion-col>
        <ion-col size="5">
          <ion-card-title style="font-size: medium;">{{runnerData.name }}</ion-card-title>
          <ion-card-subtitle>No.Order {{doc}}</ion-card-subtitle>
          <br>
        </ion-col>
        <ion-col size="3">
          <a href="tel:{{runnerData.no_hp }}" fill="clear" target="_blank"><img slot="icon-only"
              style=" margin-bottom: 10px; " src="assets/call.svg" width="25px" height="25px"></a>
          <ion-button fill="clear" [routerLink]="['/chat/', doc]"><img slot="icon-only" style=" margin-bottom: 10px; "
              src="assets/chat.svg" width="25px" height="25px"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="warungData != undefined" style="height: 90px; border-radius: 10px;">
    <ion-grid>
      <ion-row center>
        <ion-col size="3">
          <ion-avatar>
            <img
              src="{{images[warungData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[warungData.avatar]}}"
              width="20px" height="20px">
          </ion-avatar>

        </ion-col>
        <ion-col size="5">
          <ion-card-title style="font-size: medium;">{{warungData.nama }}</ion-card-title>
          <ion-card-subtitle>Alamat: {{warungData.alamat}}</ion-card-subtitle>
          <br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>