<ion-header>
	<ion-toolbar color="primary">
		<ion-title style="text-align: left;">Riwayat Pesanan</ion-title>
	</ion-toolbar>

	<!-- Tab bar -->
	<!-- <ion-tab-bar slot="bottom">
		<ion-tab-button tab="account">
			<ion-icon ios="ios-refresh-circle" md="md-refresh-circle"></ion-icon>
			<ion-label>di Proses</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="contact">
			<ion-icon name="checkmark-circle-outline"></ion-icon>
			<ion-label>Selesai</ion-label>
		</ion-tab-button>
	</ion-tab-bar> -->

</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
			refreshingSpinner="circles" refreshingText="Memuat Ulang...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-segment [(ngModel)]="riwayat">
		<ion-segment-button value="menunggu">
			<ion-label>Tunggu</ion-label>
		</ion-segment-button>
		<ion-segment-button value="diproses">
			<ion-label>Diproses</ion-label>
		</ion-segment-button>
		<ion-segment-button value="selesai">
			<ion-label>Selesai</ion-label>
		</ion-segment-button>
		<ion-segment-button value="batal">
			<ion-label>Batal</ion-label>
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="riwayat">
		<ion-list *ngSwitchCase="'menunggu'" ngSelected="selected" lines="none">
			<ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataMenunggu" no-padding
				(click)="diproses(item)">
				<ion-card-header style="text-align: center; background-color: rgb(155, 207, 219); color: white;">Mencari
					Runner</ion-card-header>
				<ion-item no-padding no-margin>
					<img ionImgViewer
						src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
						style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
					<ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
						<b>{{item.infoOrder['nama']}}</b><br>
						<ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
						<ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note>
						<br>
						<ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
					</ion-label>
					<ion-icon name="time" slot="end"></ion-icon>
				</ion-item>
			</ion-card>
			<div *ngIf="pesananDataMenunggu.length == 0">
				<ion-card style="border-radius: 15px;">
					<ion-item style="text-align: center;" no-padding no-margin>
						<ion-label>
							<b>Belum ada pesanan baru</b>
						</ion-label>
					</ion-item>
				</ion-card>
			</div>
		</ion-list>

		<ion-list *ngSwitchCase="'diproses'" ngSelected="selected" lines="none">
			<ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataDiproses" no-padding
				(click)="diproses(item)">
				<ion-card-header style="text-align: center; background-color: rgb(97, 222, 253); color: white;">Pesanan
					Diproses</ion-card-header>
				<ion-item no-padding no-margin>
					<img ionImgViewer
						src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
						style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
					<ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
						<b>{{item.infoOrder['nama']}}</b><br>
						<ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
						<ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note>
						<br>
						<ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
					</ion-label>
					<ion-icon name="walk" slot="end"></ion-icon>
				</ion-item>
			</ion-card>
			<div *ngIf="pesananDataDiproses.length == 0">
				<ion-card style="border-radius: 15px;">
					<ion-item style="text-align: center;" no-padding no-margin>
						<ion-label>
							<b>Belum ada pesanan diproses</b>
						</ion-label>
					</ion-item>
				</ion-card>
			</div>
		</ion-list>

		<ion-list *ngSwitchCase="'selesai'" ngSelected="selected" lines="none">
			<ion-card style="border-radius: 15px;" *ngFor="let item of pesananData" no-padding
				(click)="detailRiwayat(item)">
				<ion-card-header style="text-align: center; background-color: rgb(74, 241, 172); color: white;">Pesanan
					Selesai</ion-card-header>
				<ion-item no-padding no-margin>
					<img ionImgViewer
						src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
						style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
					<ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
						<b>{{item.infoOrder['nama']}}</b><br>
						<ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
						<ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note>
						<br>
						<ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
					</ion-label>
					<ion-icon name="checkmark-circle-outline" style="color: green;" slot="end"></ion-icon>
				</ion-item>
			</ion-card>
			<div *ngIf="pesananData.length == 0">
				<ion-card style="border-radius: 15px;">
					<ion-item style="text-align: center;" no-padding no-margin>
						<ion-label>
							<b>Belum ada pesanan selesai</b>
						</ion-label>
					</ion-item>
				</ion-card>
			</div>
		</ion-list>

		<ion-list *ngSwitchCase="'batal'" ngSelected="selected" lines="none">
			<ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataBatal" no-padding
				(click)="detailDitolak(item)">
				<ion-card-header style="text-align: center; background-color: rgb(240, 67, 24); color: white;">Pesanan
					Dibatalkan</ion-card-header>
				<ion-item no-padding no-margin>
					<img ionImgViewer
						src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
						style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
					<ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
						<b>{{item.infoOrder['nama']}}</b><br>
						<ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
						<ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note>
						<br>
						<ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
					</ion-label>
					<ion-icon name="close-circle-outline" slot="end" style="color: red;"></ion-icon>
				</ion-item>
			</ion-card>
			<div *ngIf="pesananDataBatal.length == 0">
				<ion-card style="border-radius: 15px;">
					<ion-item style="text-align: center;" no-padding no-margin>
						<ion-label>
							<b>Belum ada pesanan dibatalkan</b>
						</ion-label>
					</ion-item>
				</ion-card>
			</div>
		</ion-list>
	</div>
</ion-content>