<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button routerLink="/login"></ion-back-button>
		</ion-buttons>
		<ion-title>Verifikasi Email</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>PesanAja Verifikasi Email</h2>
        <p>
          Mohon periksa email anda kemudian klik tautan yang tersedia untuk emlanjutkan verifikasi email anda.
        </p>
        <ion-button type="submit" [disabled]="loading" (click)="SendVerificationMail()" expand="block">
          {{loading ? 'Mohon Tunggu..':'Kirim Ulang'}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>