<ion-header>
  <ion-toolbar>
    <ion-icon md="md-arrow-round-back" slot="start" style="font-size: xx-large; margin-left: 5px;" (click)="dismiss()">
    </ion-icon>
    <ion-title>
      Pesanan selesai
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
		<ion-card-content>
			<ion-item lines="none">
				<ion-title style="text-align: center;">Berikan Rating ke toko</ion-title>
				<br>
			</ion-item>
			<ion-item>
				<div align="center">
					<bar-rating [(rate)]="rate" [max]="5" [theme]="'stars'" [showText]="false"
						(rateChange)="changeRate($event)"></bar-rating>
				</div>
			</ion-item>
		</ion-card-content>
		<ion-card-content>
			<ion-button expand="full" (click)="kirimRating()">Submit</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>