.roundedInput {
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 3px;
    --border-width: 1px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #f8f9fa;
   }
  
  .container {
      width: 300px;
      margin-top: 30px; 
      margin-left:auto; 
      margin-right: auto; 
  }
  
  .roundedInput.ion-invalid.item-has-focus {
  
    --border-color: var(--ion-color-danger-shade);
  }
  
  .roundedInput.ion-valid.item-has-focus {
    --border-color: var(--ion-color-success-shade);
  }
  
  .roundedInput.ion-invalid.ion-dirty {
    --border-color: var(--ion-color-danger-shade);
  }
  
  .roundedInput.ion-valid.ion-dirty {
    --border-color: var(--ion-color-success-shade);
  }
  
  div {
      margin-left: auto;
      margin-right: auto;
  }