<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="batal()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title>Detail Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="profile-bg">
    <img src="{{avatar == undefined ? '../../assets/makanan.png':avatar}}" style="background-size: cover;
    background-repeat: no-repeat;">
  </div>
  <div class="card-body">
    <div class="header">
      <ion-fab vertical="top" horizontal="start" slot="fixed" *ngFor="let data of produk_favorit">
        <ion-fab-button style="margin-top: -30px;margin-left: 25px;" size="large" color="light">
          <ion-icon color="{{data.favorit==true ? 'secondary':'tertiary'}}" name="heart">
          </ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-button style="text-align:right;text-transform: lowercase;margin-left: 245px;margin-top: 20px;" size="small"
        color="secondary" [routerLink]="['/detail', dataMenu.id_warung]" (click)="batal()">lihat toko</ion-button>
      <h4 style="margin-left: 20px;margin-top: 20px;">{{dataMenu.nama}}</h4>
      <p style="margin-left: 20px;color: rgb(70, 69, 69);">Rp. {{dataMenu.harga}}</p>
      <p style="margin-left: 20px;color: rgb(70, 69, 69);">Stok {{dataMenu.stok}}</p>
      <b style="margin-left: 20px; margin-top: 13px; color:#6d7278; border-bottom-style: solid;
      border-bottom-color: coral;border-bottom-width: medium;">Ulasan menu
      </b>
    </div>
  </div>
  <ion-list style="margin-top: 10px;margin-left: 5px;">
    <div *ngFor="let item of dataUlasan">
      <ion-item>
        <ion-label>
          <p style="font-weight: bold;">{{item.pemberi_ulasan}}</p>
          <p>{{item.ulasan}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <div *ngIf="dataUlasan.length == 0">
    <img src="../../assets/email.png" width="80px" height="80px" style="margin-left: 47px;">
    <p style="margin-left: 30px;margin-top: -2px;">Belum ada ulasan</p>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input type="text" name="message" placeholder="Beri ulasan....." [(ngModel)]="ulasan.kritik"></ion-input>
    <ion-button slot="end" (click)="addComment()" fill="clear" size="large">
      <ion-icon name="send" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>