<ion-header no-border>
  <ion-button fill="clear" [routerLink]="['/intro']" color="tertiary" slot="end">Lewati <ion-icon slot="end"
      name="arrow-forward"></ion-icon>
  </ion-button>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" style="margin-top: -35px;">
    <ion-slide>
      <div class="slide">
        <img src="assets/ilustrasi-01.png" />
        <h2>Selamat datang</h2>
        <p>Anda <b>bingung cari makanan</b> karena malas untuk keluar dari gedung dan jalan jauh pesanAja
          menyediakan berbagai menu makanan dan minuman yang nikmat</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/ilustrasi-02.png" />
      <h2>Siap Antar </h2>
      <p><b>Aplikasi PesanAja</b> siap mengantarkan menu pesanan anda hingga sampai ke tangan anda</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/ilustrasi-03.png" />
      <h2>Ayo pakai PesanAja</h2>
      <ion-button fill="clear" [routerLink]="['/intro']">Mulai <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>