<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-text   text-align="center">
      <b>Daftar Pesanan</b><br>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
	
  <ion-card style="height: 50px; border-radius: 10px;"  *ngFor="let item of pesananData" routerLink="/pengantar/antar/{{item.id}}">
    <ion-item>
      <ion-label>
      {{ users[item.uid] != undefined ? users[item.uid].name : ''}}
      <p>{{item.lokasi_antar}} | {{item.waktu.toDate() | date:'hh:mm'}}</p>
    </ion-label>
      <ion-icon name="walk" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
