#profile-bg {
    // position: fixed;
    left: 0;
    //top: 44px;
    width: 100%;
    height: 300px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    text-align: center;
  }
  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
  // ion-toolbar {
  //   --background: #ff9500;
  //   --ion-color-base: transparent !important;
  //   }
#content {
    position: relative;
    margin-top: -150px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.4);
    padding-top: 135px;
    border-radius: 15px;
    // border-top-right-radius: 15px;
    // border-top-left-radius: 15px;
  }

  #profile-info {
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: rgb(107, 105, 105);
    font-size: 14px;
  }
  #profile-name {
    color: #888;
    font-size: 20px;
    margin: 0px;
  }
  #profile-description {
    font-size: 12px;
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 90px;
    height: 90px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

  ion-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.card {
  background-color: #000; // black
}

.corner-ribbon {
  width: 200px;
  background: red;
  position: absolute;
  font-size: 10px;
  top: 15px;
  left: -65px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

#data {
  display: none;
}

#skeleton {
  display: block;
}

rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.1em;
}