<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-button fill="clear" [routerLink]="['/tabs/home']">
      <img src="assets/back.svg" width="20px" height="20px" />
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="produk">
    <div id="profile-bg">
      <img src="{{imagesWarung[DataWarung.avatar] == null ? 'assets/dessert-7.jpg':imagesWarung[DataWarung.avatar]}}"
        style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
    </div>
    <div id="content">
      <div id="profile-info">
        <h4 id="profile-name">{{DataWarung.nama}}</h4>
        <span id="profile-description">{{DataWarung.alamat}}</span>
        <div class="stars container">
          <div class="row">
            <div class="col-md-4">
              <section>
                <bar-rating style="size: 1px;" [(rate)]="ratarata" [max]="5" [theme]="'stars'" [showText]="false"
                  [readOnly]="true"></bar-rating>
              </section>
            </div>
          </div>
        </div>
        <span id="profile-description">Rating {{ratarata}}</span>
      </div>
    </div>
    <h5 style="margin-left: 10px; text-align: center; color:#525457;">Daftar Menu</h5>
    <ion-card style="border-radius: 25px; margin-top: 0px;">
      <ion-tab-bar>
        <ion-tab-button (click)="getByCategory('makanan')">
          <img src="../assets/food.svg" style="height: 40px; width: 40px;" />
          <ion-label>Makanan</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="getByCategory('minuman')">
          <img src="../assets/cocktail.svg" style="height: 40px; width: 40px;" />
          <ion-label>Minuman</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-card>
    <div *ngFor="let item of produk">
      <ion-card style="height: 100px; margin-left: 15px; border-radius: 15px;" [disabled]="item.stok < 1">
        <ion-list lines="none" class="ion-no-padding">
          <ion-item class="ion-no-margin ion-no-padding">
            <img ionImgViewer
              src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}"
              style="width: 80px; height: 80px;border-radius: 10px; margin: 5px; margin-top: -5px;" />
            <div class="corner-ribbon" *ngIf="item.stok < 1">Stok Habis</div>
            <ion-label style="margin-bottom: 10px;">
              <b>{{item.nama}}</b><br>
              <p (click)="detailMenu(item)">
                <ion-note slot="start" color="{{item.status==false ? 'danger':'success'}}">
                  {{item.status==true ? 'Rp.' + item.harga:'stok habis'}} <br>
                  {{item.status==true ? 'Stok: ' + item.stok:''}}</ion-note>
              </p>
              <div>
                <ion-button [disabled]="item.status==false || item.stok < 1" *ngIf="order[item.id] == undefined"
                  slot="end" color="primary" size="small" (click)="addOrder(item)"
                  style="margin-top: -15px; margin-left: 120px; margin-bottom: 10px;">
                  tambah
                </ion-button>
                <div slot="end" style="margin-top: -15px; margin-left: 120px; margin-bottom: 10px;"
                  *ngIf="order[item.id] != undefined">
                  <ion-button slot="start" fill="clear" (click)="tambahItem(-1,item)"
                    style="size: small; margin-left: -20px; margin-top: -3px;">
                    <ion-icon color="warning" slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                  <input [(ngModel)]="order[item.id].jumlah" (change)="hitungOrder()" type="number"
                    style="width: 30px; border:1px solid #ccc; margin-right: -6px; text-align: center;" no-border>
                  <ion-button slot="end" fill="clear" (click)="tambahItem(1,item)"
                    style="size: small; margin-right: -50px; margin-top: -3px;">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <ion-card style="text-align: center; height: 100px; margin-left: 15px; border-radius: 15px;"
      *ngIf="produk.length == 0 || produk == null || produk == undefined">
      <ion-grid no-padding>
        <ion-row>
          <ion-col style="margin-top: 30px;">
            <ion-label>
              Data kosong.
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!produk" class="ion-padding custom-skeleton">
    <div id="profile-bg">
      <ion-skeleton-text animated style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
      </ion-skeleton-text>
    </div>
    <div id="content">
      <div id="profile-info">
        <ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
      </div>
    </div>
    <ion-skeleton-text animated style="margin-left: 10px; text-align: center; color:#525457;"></ion-skeleton-text>
    <ion-card style="border-radius: 25px; margin-top: 0px;">
      <ion-tab-bar>
        <ion-tab-button>
          <ion-skeleton-text animated style="height: 40px; width: 40px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-tab-button>

        <ion-tab-button>
          <ion-skeleton-text animated style="height: 40px; width: 40px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-card>

    <ion-card style="width: 330px; height: 80px; margin-left: 15px; border-radius: 15px;" *ngFor="let item of fakeData">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="5" style="margin-left: -20px; margin-top: -20px;">
            <ion-list lines="none">
              <ion-item>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              </ion-item>
              <ion-item>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="5" style="margin-right: -25px; margin-left: -15px;">
            <ion-item style="margin-top: -15px;">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
<div *ngIf="isLogin == true">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true" (click)="detailPesanan()">
    <ion-item color="secondary">
      <p>{{infoOrder['jumlahItem']}} item | {{infoOrder['totalHarga']}}</p>
      <ion-icon name="cart" slot="end"></ion-icon>
    </ion-item>
    <p *ngIf="dataReturned">{{dataReturned}}</p>
  </ion-card>
</div>

<div *ngIf="isLogin == false">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true">
    <ion-item color="danger">
      <p>Silahkan <a [routerLink]="['/intro']">Masuk</a> dengan akun PesanAja.</p>
    </ion-item>
  </ion-card>
</div>