<ion-header>
	<ion-toolbar color="primary">
		<ion-button [routerLink]="['/tabs/home']" slot="start" fill="clear">
			<ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
		</ion-button>
		<ion-title>Top Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<div class="container">
			<ion-item class="roundedInput">
				<ion-label position="floating">Pilih Nominal Top Up</ion-label>
				<ion-select value="0" [(ngModel)]="jumlah_topup" okText="Pilih" cancelText="Batal">
					<ion-select-option value="{{jumlah_topup}}">Rp{{jumlah_topup | number: '1.0-0'}}</ion-select-option>
					<ion-select-option value="50000">Rp50.000</ion-select-option>
					<ion-select-option value="100000">Rp100.000</ion-select-option>
					<ion-select-option value="200000">Rp200.000</ion-select-option>
				</ion-select>
			</ion-item><br>

			<ion-text><b>Atau masukkan nominal top up disini</b></ion-text><br>

			<ion-item class="roundedInput">
				<ion-label position="floating">Minimal Top Up Rp10.000</ion-label>
				<ion-input [(ngModel)]="jumlah_topup"></ion-input>
			</ion-item>
		</div>
		<br>
		<br>
		<div text-center>
			<ion-row>
				<ion-col>
					<ion-button [disabled]="jumlah_topup == 0 || jumlah_topup < 10000" (click)="topup()">Top Up Sekarang</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</ion-card>
</ion-content>