ion-card.active {
  border: 2px solid rgb(231, 96, 6) !important;
  }
div.header{
   height:80px;

}
.avatar {
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 5px;

  img {
      height: 45px;
      width: 45px;
      border-radius: 100px;
      position: absolute;
      border: 2px solid #fc7d07;
      background-color: #000000;
  }
}
div.navbar{
margin-top: -20px;
}
.makanan{
  margin-left: 10px;
  margin-top: 10px;
  display: block !important;
  text-align: center;
}

    .searchbar-input {
        background: #FFF !important;
        border-radius: 30px !important;
        height: 40px !important;
        max-width: 100px;
        font-size: 1.25em !important;
        border: 1px solid transparent;
    }
    $grid-padding-width:         2px !default;

    .ion-item{
    border-bottom: none !important;
    border-bottom: 0px !important;
    border-bottom: 1px solid white !important
    }
    // ion-card, .card-ios, .card-md {
    //     border: 0 !important;
    //     -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    //     -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    //     box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    //     border: none !important;
    //     border-style: none !important;
    //     position: relative;
    //     text-align: center;
    //     // border-top: 3px solid colorofyourchosing
    //   }
    //   .card{
    //     border: 0 !important;
    //     -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    //     -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    //     box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    //     border: none !important;
    //     border-style: none !important;
    //   } 
    
    $card-wp-margin-left: 0;
    $card-wp-margin-right: 0;

    $card-md-margin-left: 0;
    $card-md-margin-right: 0;

    $card-ios-margin-left: 0;
    $card-ios-margin-right: 0;
    image-viewer.ion-page {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        opacity: 1;
      }
      
      image-viewer.ion-page ion-navbar.toolbar .toolbar-background {
        background-color: transparent;
      }
      
      image-viewer.ion-page ion-navbar.toolbar.toolbar-ios {
        padding-top: calc(20px + 4px);
      }
      
      image-viewer.ion-page ion-navbar .bar-button-default {
        color: white;
      }
      
      image-viewer.ion-page .backdrop {
        will-change: opacity;
      }
      
      image-viewer.ion-page .image-wrapper {
        position: relative;
        z-index: 10;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 56px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      
      image-viewer.ion-page .image {
        will-change: transform;
      }
      
      image-viewer.ion-page img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
      .corner-ribbon {
        width: 200px;
        background: red;
        position: absolute;
        font-size: 10px;
        top: 15px;
        left: -65px;
        text-align: center;
        line-height: 35px;
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .custom-skeleton ion-skeleton-text {
        line-height: 13px;
      }
      
      .custom-skeleton ion-skeleton-text:last-child {
        margin-bottom: 5px;
      }
      
      #data {
        display: none;
      }
      
      #skeleton {
        display: block;
      }