<div class="header">
  <ion-item lines="none">
    <div class="avatar">
      <ion-avatar slot="start">
        <img
          src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}"
          alt="">
      </ion-avatar>
    </div>
    <ion-label style="margin-left: 5px;">
      <h2> <b>{{userData.name}}</b></h2>
      <p *ngIf="isLogin == true" style=" color: rgb(43, 42, 42);">Saldo :
        Rp{{userData.saldo | number: '1.0-0'}}</p>
    </ion-label>
    <ion-button *ngIf="isLogin == true" [routerLink]="['/topup']" slot="end" size="large" fill="clear"
      style="margin-right: -10px;">
      <img src="../assets/top-up.png" style="height: 35px; width: 35px;" />
    </ion-button>
    <ion-button *ngIf="isLogin == false" style="padding-right: 5px; float: right; color: rgb(32, 31, 31);"
      class="ion-button" slot="end" (click)="guestKeluar()" fill="clear">Keluar
      <ion-icon name="log-out" slot="icon-only" color="tertiary"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Jika belum login -->

</div>
<div class="navbar">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" animated no-border mode="ios"
        placeholder="Cari Menu" style=" color: #6d7278; margin-top: 10px;">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
</div>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="data">
    <ion-grid>
      <ion-row>
        <ion-col size="3" style="text-align: center;">
          <ion-card style="border-radius: 15px; width: 60px; height: 60px;" [class.active]="selectedCard == 1"
            (click)="getByAdd()">
            <div class="makanan">
              <img src="assets/icon pesanAja-01.png" style="width: 40px; height: 40px; text-align: center;" />
            </div>
          </ion-card>
          <ion-text style="text-align: center;font-size: small;margin-left: auto;">Terbaru</ion-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-card style="border-radius: 15px; width: 60px; height: 60px;" [class.active]="selectedCard == 2"
            (click)="getByCategoryMakanan()">
            <div class="makanan">
              <img src="assets/icon pesanAja-02.png" style="width: 40px; height: 40px; text-align: center;" />
            </div>
          </ion-card>
          <ion-text style="text-align: center;font-size: small;">makanan</ion-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-card style="border-radius: 15px; width: 60px; height: 60px;" color="light"
            [class.active]="selectedCard == 3" (click)="getByCategoryMinuman()">
            <div class="makanan">
              <img src="assets/icon pesanAja-03.png" style="width: 40px; height: 40px; text-align: center;" />
            </div>
          </ion-card>
          <ion-text style="text-align: center;font-size: small;">minuman</ion-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-card *ngIf="isLogin == true" style="border-radius: 15px; width: 60px; height: 60px;" color="light"
            [class.active]="selectedCard == 4" (click)="getByFavorit(id_produk)">
            <div class="makanan">
              <img src="assets/icon pesanAja-04.png" style="width: 40px; height: 40px; text-align: center;" />
            </div>
          </ion-card>
          <ion-text style="text-align: center;font-size: small;">favorit</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p></p>
    <ion-label>
      <b style="margin-left: 15px; margin-top: 13px; color:#6d7278; border-bottom-style: solid;
      border-bottom-color: coral;border-bottom-width: medium;">Pilihan menu
      </b>
      <ion-button slot="end" fill="clear"
        style="text-align:right;text-transform: lowercase;margin-left: 245px;margin-top: -40px;"
        [routerLink]="['/detail-menu']">
        Lihat semua
      </ion-button>
    </ion-label>
    <div *ngIf="produk">
      <ion-slides [options]="sliderConfig" style="margin-top: 0px;">
        <ion-slide *ngFor="let item of produk">
          <ion-card style="border-radius: 15px; width: 140px; height:200px; box-shadow:none !important"
            [disabled]="item.stok < 1">
            <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="isFavorit == true">
              <ion-button fill="clear" style="margin-top: -15px;margin-right: -10px;" size="large" color="secondary"
                (click)="removeUserFavorit(item)">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-fab>
            <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="isFavorit == false">
              <ion-button fill="clear" style="margin-top: -15px;margin-right: -10px;" size="large" color="light"
                (click)="addUserFavorit(item)">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-fab>
            <img (click)="detailMenu(item)"
              src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}"
              style="width: 110px; height: 110px; border-radius: 10px;" />
            <div class="corner-ribbon" *ngIf="item.stok < 1">Stok Habis</div>
            <ion-label style="text-align: left;margin-top: 10px;" class="ion-text-wrap">
              <p style="font-weight: bold;margin-bottom: -3px;margin-top: 3px;">{{item.nama}}</p>
              <p>Rp.{{item.harga}}</p>
              <ion-button [disabled]="item.status==false || item.stok < 1" *ngIf="order[item.id] == undefined"
                color="primary" size="small" (click)="addOrder(item)" style="text-transform: lowercase;">
                tambah
              </ion-button>
              <div slot="end" *ngIf="order[item.id] != undefined">
                <ion-button slot="start" fill="clear" (click)="tambahItem(-1,item)"
                  style="size: small; margin-left: -17px; margin-top: -3px;">
                  <ion-icon color="warning" slot="icon-only" name="remove-circle"></ion-icon>
                </ion-button>
                <input [(ngModel)]="order[item.id].jumlah" (change)="hitungOrder()" type="number"
                  style="width: 30px; border:1px solid #ccc;  text-align: center;" no-border>
                <ion-button slot="end" fill="clear" (click)="tambahItem(1,item)"
                  style="size: small; margin-right: -40px; margin-top: -3px;">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </div>
            </ion-label>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <br>
    <b style="margin-left: 15px; margin-top: 5px; color:#6d7278; border-bottom-style: solid;
    border-bottom-color: coral;border-bottom-width: medium;">Rekomendasi Toko</b>
    <ion-slides [options]="sliderConfigs" style="margin-top: 0px;">
      <ion-slide *ngFor="let n of warung">
        <div class="card">
          <ion-card style="border-radius: 15px;box-shadow:none !important" [routerLink]="['/detail', n.id]">
            <img ionImgViewer src="{{imagesWarung[n.avatar] == null ? 'assets/dessert-7.jpg':imagesWarung[n.avatar]}}"
              style="border-radius: 15px; margin-bottom: 10px;" />
            <ion-label style="margin-bottom: -10px;text-align: left;" class="ion-text-wrap">
              <p style="font-weight: bold;font-size: 16px;">{{n.nama}}</p>
              <p style="font-weight: initial;font-size: 12px;">{{n.alamat}}</p>
            </ion-label>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="!data" class="ion-padding custom-skeleton">
    <ion-grid>
      <ion-row>
        <ion-col size="3" style="text-align: center;">
          <ion-skeleton-text animated style="width: 60%" style="height: 60px; width: 60px;border-radius: 15px;">
          </ion-skeleton-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-skeleton-text animated style="width: 60%" style="height: 60px; width: 60px;border-radius: 15px;">
          </ion-skeleton-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-skeleton-text animated style="width: 60%" style="height: 60px; width: 60px;border-radius: 15px;">
          </ion-skeleton-text>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-skeleton-text animated style="width: 60%" style="height: 60px; width: 60px;border-radius: 15px;">
          </ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-skeleton-text animated style="width: 20%">
    </ion-skeleton-text>
    <ion-slides [options]="sliderConfig" style="margin-top: -5px; margin-bottom: 15px;">
      <ion-slide>
        <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 270px;border-radius: 15px;">
        </ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 270px;border-radius: 15px;">
        </ion-skeleton-text>
      </ion-slide>
      <ion-slide>
        <ion-skeleton-text animated style="width: 60%" style="height: 130px; width: 270px;border-radius: 15px;">
        </ion-skeleton-text>
      </ion-slide>
    </ion-slides>
    <ion-skeleton-text animated style="width: 20%">
    </ion-skeleton-text>
    <ion-slides [options]="sliderConfigs" style="margin-top: 0px;">
      <ion-slide *ngFor="let n of fakeData">
        <ion-card style="border-radius: 15px;">
          <ion-item>
            <ion-skeleton-text animated style="width: 60%" style="margin-bottom: -5px;height: 170px; width: 400px;">
            </ion-skeleton-text>
          </ion-item>
          <ion-item>
            <ion-skeleton-text animated style="width: 60%" slot="start"></ion-skeleton-text>
          </ion-item>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>


</ion-content>
<div *ngIf="isLogin == true">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true" (click)="detailPesanan()">
    <ion-item color="secondary">
      <p>{{infoOrder['jumlahItem']}} item | {{infoOrder['totalHarga']}}</p>
      <ion-icon name="cart" slot="end"></ion-icon>
    </ion-item>
    <p *ngIf="dataReturned">{{dataReturned}}</p>
  </ion-card>
</div>

<div *ngIf="isLogin == false">
  <ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true">
    <ion-item color="danger">
      <p>Silahkan <a [routerLink]="['/intro']">Masuk</a> dengan akun PesanAja.</p>
    </ion-item>
  </ion-card>
</div>