<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="batal()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title>Detail TopUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image"
        src="{{imagesUser[userData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': imagesUser[userData.avatar]}}"
        width="90px">
      <h5 id="profile-name" style="margin-top:10px;">{{userData.name}}</h5>
      <span id="profile-description">Saldo Rp.{{userData.saldo}}</span>
    </div>
  </div>
  <ion-card style=" border-radius: 10px;">
    <ion-item>
      <ion-label>Jumlah TopUp</ion-label>
      <ion-text slot="end">Rp{{jumlah_topup | number:'1.0-0'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Kode Unik</ion-label>
      <ion-text slot="end">{{kode_unik}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label><b style="color: rgb(15, 206, 15);">Total</b></ion-label>
      <ion-text slot="end"><b style="color: rgb(15, 206, 15);">Rp{{jumlah_topup+kode_unik | number:'1.0-0'}}</b>
      </ion-text>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="dataRek != undefined" style=" border-radius: 10px;">
    <ion-card-header style="text-align: center;">
      <ion-label>Silahkan transfer sebesar {{jumlah_topup+kode_unik}} ke nomer rekening dibawah ini:</ion-label>
    </ion-card-header>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-text slot="end">{{dataRek.nama}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Bank</ion-label>
      <ion-text slot="end">{{dataRek.nama_bank}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Rekening</ion-label>
      <ion-text><b style="color: rgb(15, 206, 15);">{{dataRek.no_rek}}</b></ion-text>
    </ion-item>
  </ion-card>

  <div *ngIf="bukti == true">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>Lampiran Bukti Pembayaran</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-fab horizontal="end" slot="fixed" edge>
          <ion-fab-button color="tertiary">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button color="secondary" data-desc="Kamera" (click)="AmbilFoto()">

              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>

            </ion-fab-button>
            <ion-fab-button color="primary" data-desc="File" (click)="AmbilGallery()">
              <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        <image-cropper [imageURL]="urls" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png"
          (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"></image-cropper>

        <ion-button slot="end" (click)="addImage()" color="primary">Upload Gambar</ion-button>
      </ion-card-content>
      <p style="margin-left: 20px;" *ngIf="images == undefined">Tunggu sebentar....</p>
    </ion-card>
    <ion-grid style="margin-top: -5px;">
      <ion-row style="margin-left: 35px;">
        <ion-col size="6" *ngFor="let n of images; let idx=index" (click)="addImage()">
          <div>
            <p style="margin-top: 22px; margin-left: 5px;">Gambar {{idx+1}}</p>
            <img style="margin-top: -10px; width: 100%;" slot="icon-only" src="{{n}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-border *ngIf="bukti == false">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button expand="block" (click)="lampirkanBukti()">Lampirkan Bukti</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-footer no-border *ngIf="bukti == true">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button expand="block" [disabled]="dataRek == undefined || images.length == 0" (click)="konfirmasi()">
          {{loading ? 'Mohon Tunggu..': 'Konfirmasi'}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>