#content {
    position: relative;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 90px;
    background-color: #fff;
    
    padding-top: 110px;
    border-radius: 15px;
    // border-top-right-radius: 15px;
    // border-top-left-radius: 15px;
  }
#card{
    margin-top: 20px;
}
  #profile-info {
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: rgb(107, 105, 105);
    font-size: 14px;
  }
  #profile-name {
    color: #888;
    font-size: 20px;
    margin: 0px;
  }
  #profile-description {
    font-size: 12px;
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 3px solid rgb(68, 136, 238);
    width: 90px;
    height: 90px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

  ion-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
  ion-footer {
    border: 0px !important;
    border-top-color: transparent !important;
    background-image: none !important;
    border-top: none !important;
}
